.train-details-page {
  align-items: center;
  background-color: var(--red-5-duplicate);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.train-details-page .arrow-left-drop-outline {
  height: 32px !important;
  margin-left: -2.00px !important;
  margin-right: -2.00px !important;
  position: relative !important;
  width: 32px !important;
}

.train-details-page .search-instance {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.train-details-page .content {
  align-items: center;
  align-self: stretch;
  background-color: var(--base-5);
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  padding: 90px 102px;
  position: relative;
  width: 100%;
}

.train-details-page .content-blocks {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 525px;
  position: relative;
  width: 1178px;
}

.train-details-page .row {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  margin-bottom: -80.00px;
  position: relative;
  width: 100%;
}

.train-details-page .train-details-card-instance {
  margin-right: -2.00px !important;
}

.train-details-page .gradient-2 {
  left: 0 !important;
  position: absolute !important;
  top: 640px !important;
}

.train-details-page .navbar-desktop-acting {
  height: 140px !important;
}

.train-details-page .icon-instance-node-3 {
  height: 52px !important;
  position: relative !important;
  width: 52px !important;
}
